.productDetails{
    width: 100vw !important;
    max-width: 100% !important;
    padding: 6vmax;
    box-sizing: border-box;
   display: flex;
}

.productDetailsMain{
    width: 100%;
}

.productDetailsSubMain{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2vmax;
    box-sizing: border-box;

}
.CarouselImage{
    width: 20vmax;
}
.detailsBlock-1 > h2{
    color: rgb(54,54,54);
    font: 600 1.6vmax "Roboto";
}
.detailsBlock-1 > p{
    color: rgba(54,54,54,0.582);
    font: 200 0.8vmax "Montserrat";
}
.detailsBlock-2{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    width: 70%;
    padding: 1vmax 0;

}
.detailsBlock-2 > span{
color: rgba(54,54,54,0.582);
font: 200 0.8vmax "Montserrat" ;
}
.detailsBlock-3{
    width: 70%;
}
.detailsBlock-3 > h1{
    color: rgba(17,17,17,0.795);
    font: 400 1.8vmax "Roboto";
    margin: 1vmax 0;

}
.detailsBlock-3-1{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.detailsBlock-3-1-1 > button{

    border: none;
    background-color: rgba(0,0,0,0.616);
    color: #fff;
    cursor: pointer;
    padding: 0.5vmax;
    transition: all 0.5s;
}
.detailsBlock-3-1-1 > button:hover{
    background-color: rgba(0,0,0,0.767);
}
.detailsBlock-3-1-1 > input{
    padding: 0.5vmax;
    border: none;
    width: 1vmax;
    text-align: center;
    font: 400 0.8vmax "Roboto";
    color: rgba(0,0,0,0.74);
    background-color: rgb(234, 229, 229);   
}
.addToCart{
    border: none;
    cursor: pointer;
    color: #fff;
    transition: all 0.5s;
    background: tomato;
    font: 500 0.7vmax "Roboto";
    border-radius: 20px;
    padding: 0.5vmax 2vmax;
    margin: 1vmax;
    outline: none;

}
.addToCart:hover{
background-color: rgb(243, 53, 19);
}

.detailsBlock-3 > p{
    border-top: 1px solid rgba(0,0,0,0.205);
    border-bottom: 1px solid rgba(0,0,0,0.205);
    padding: 1vmax 0;
    color: rgba(0,0,0,0.651);
    font: 550 1vmax "Roboto";
}

.detailsBlock-4{
    color: rgba(0,0,0,0.897);
    font: 550 1.2vmax "Roboto";
    margin: 1vmax 0;

}   

.detailsBlock-4 > p{
    color: rgba(0,0,0,0.534);
    font: 300 0.8vmax "Roboto";

}  

.submitReview{
    border: none;
    background-color: tomato;
    outline: none;
    border-radius: 20px;
    font: 500 0.7vmax "Roboto";
    border-radius: 20px;
    padding: 0.6vmax 2vmax;
    cursor: pointer;
    transition: all 0.5s;
    color: #fff;
    margin: 1vmax 0;
}
.submitReview:hover{
    background-color: rgb(243, 53, 19);
    transform: scale(1.1);

}

.reviewHeading{
    color: #000000be;
    font: 500 1.4vmax "Roboto";
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.226);
    padding: 1vmax;
    width: 20vmax;
    margin: auto;
    margin-bottom: 4vmax;
}
.reviewCard{
   
    box-shadow: 0 0 5px rgba(0,0,0,0.226);
    border: 1px solid rgba(56,56,56,0.116);
    width: 30vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1vmax;
    padding: 3vmax;
}
.reviewCard>img{
    border-radius: 100%;
    width: 5vmax;
   

}
.reviewCard>p{
    color: rgba(0,0,0,0.836);
    font: 600 0.9vmax "Roboto";
}
.reviewCard>span{
    color: rgba(0,0,0,0.445);
    font: 600 0.9vmax "Montserrat";
}
.noReviews{
    font: 400 1.3vmax "Roboto";
    text-align: center;
    color: rgba(0, 0, 0, 0.548);

}
.reviews{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width:600px) {
    .productDetails{
        flex-direction: column;
        height: unset;
        justify-content: center;
        align-items: center;
        padding: 6vmax;
       
    }
    .reviews{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
    }
    .productDetailsMain{
      
    }
    .productDetailsMain > img{
        width: 100% !important;
    }
    .productDetailsSubMain{
        align-items: center;
    }
    .CarouselImage{
       width: 100%;
       height: 100%;


    }
    .detailsBlock-1 > h2{
        font: 600 2.5vmax "Roboto";
        text-align: center;
    }
    .detailsBlock-1 > p{
        text-align: center;
        margin: 2% 0;
        font: 200 1.5vmax "Montserrat";
        
    }
    .detailsBlock-2 > span{
        align-items: center;
        font-size: 1.5vmax;
    }
    .detailsBlock-3-1{
        flex-direction: column;
    }
    .detailsBlock-3>h1{
       text-align: center;
       font-size: 2.5vmax;
    }
    .detailsBlock-3-1{
justify-content: center;
align-items: center;
    }
    .detailsBlock-3>p{
        text-align: center;
        margin: 3% 0;
    }
    .detailsBlock-4{
justify-content: center;
align-items: center;
font-size: 2vmax;
    }
}